{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "flow-vars"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  }
}
